@model OrdersViewModel
@{
    ViewData["Title"] = "Tables";
}

<div class="container">
    @foreach (var order in Model.Orders)
    {
        <div class="row">
            <div class="col-sm text-center">
                <form asp-action="BeginPaymentProcess" asp-controller="Orders">
                    <input type="hidden" asp-for="TableName" value="@order.TableName">
                    <input type="submit" value="Pay" style="width:80px; height:80px;">
                </form>
            </div>
            <div class="col-sm text-center">
                <h4>Table: @order.TableName</h4>
                <h5>Order price: @order.Order.OrderPrice PLN</h5>
            </div>
            <div class="col-sm text-center">
                <form asp-controller="Orders" asp-action="DeleteOrder">
                    <input type="hidden" asp-for="TableName" value="@order.TableName">
                    <input type="submit" value="Delete" style="width:80px; height:80px;">
                </form>
            </div>
        </div>
        <hr>
    }
</div>
